@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;300&display=swap');


.clickbait {
    text-align: center;
}

.inline {
    display: inline;
}

.nd { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }

body {
    background-color: whitesmoke;
    list-style-type: none;
    margin: 0;
    font-family: 'Chivo Mono', monospace;
    color: black;
}

header {
    padding: 2%;
    text-align: center;
  }

.subheader {
  padding: 2%;
  text-align: center;
  display: inline;
}

.subheader a {
    font-size: 1.17em;
}

footer {
    padding: 2%;
    text-align: center;
    bottom: 0;
  }

.jaure {
    text-align: center;
}

* {box-sizing: border-box;}
/*
.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}
*/

.form input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-family: 'Chivo Mono', monospace;
}


.center {
  /* width: 300px; 
  height: 200px;
  display: flex;  */
  width: 60%;
  text-align: center;
  align-items: center; /* Center the div element vertically within its parent element */
  justify-items: center;
  margin: auto;
  
}



