<head>
<!--{% load static %}-->

<link rel="stylesheet" type="text/css" href="{% static 'blogi/style.css' %}">


</head>
<body>
<header>
<h1>jesseblogi</h1>
</header>
<div class="center">
    Siin saab lisada kokku kaks arvu, tehnoloogia on tõesti tulevik.
    <form method="post" class="form">
        {% csrf_token %}
        <label for="number1">Esimene arv:</label>
        <input type="number" name="number1" id="number1">
        <br>
        <label for="number2">Teine arv:</label>
        <input type="number" name="number2" id="number2">
        <br>
        <input type="submit" value="summeeri">
    </form>
    {% if result %}
        <p>Summa: {{number1}} + {{number2}} = {{ result }}</p>
    {% endif %}
</div>
<footer>
    <ul class="nd">
        <li><a href="https://www.linkedin.com/in/mihkel-jesse-27169b199/">LinkedIn</a></li>
        <li><a href="https://github.com/jazzxoxo">GitHub</a></li>
    </ul>
</footer>
</body>